<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
     data-namespace-typo3-fluid="true">
<f:layout name="{f:if(condition: '{t3version} >= 12', then: 'Default', else: 'V11/Default')}" />
<f:section name="content">
    <div class="t3js-modal-content modal-content">
        <div class="t3js-modal-body modal-body">
            <f:if condition="{pageTitle}">
                <h2 class="mb-4">{pageTitle}</h2>
            </f:if>
            <div class="tab-content" id="xlf-localization-form">
                <f:render partial="Localization" arguments="{_all}" />
                <div id="ns-t3ai__loader" class="d-none">
                    <core:icon identifier="spinner-circle" size="large" />
                    <span class="loader-text"></span>
                </div>
            </div>
        </div>
    </div>
</f:section>