<div class="module-docheader-bar-column-right mb-2 text-end">
    <span class="typo3-docheader-pagePath"></span>
    <strong>
        <button type="button" class="btn btn-link p-0" data-contextmenu-trigger="click" data-contextmenu-table="pages" data-contextmenu-uid="13" aria-label="Open context menu for record: Portfolio">
            <f:format.raw>{pagePathData.iconHtml}</f:format.raw>
        </button><f:format.crop maxCharacters="50"> {pagePathData.pageTitle}</f:format.crop> [{id}]
    </strong>
</div>
